@import "utils/variables";
@import "utils/mixins/hover";
@import "utils/mixins/tab-focus";

@import "utils/normalize";
@import "utils/reboot";

body {
  display: flex;
  min-height: 100vh;
  font-family: $font-family-sans-serif;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100vh;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: auto;
    }
  }
}
