<!DOCTYPE html>
<html>
  <head>
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body aurelia-app="main">
    <div class="bg splash">
      <div>
        <div class="bg stripebg"></div>
        <div class="message"><span><%- webpackConfig.metadata.title %></span></div>
      </div>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
