<!DOCTYPE html>
<html>
  <head>
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body aurelia-app="main">
    <div class="bg splash">
      <div>
        <div class="bg stripebg"></div>
        <div class="message"><span><%- webpackConfig.metadata.title %></span></div>
      </div>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCj_sFdM-ujabM2GqKFb6BkRxWhzN-idyU",
        authDomain: "saeris-7a947.firebaseapp.com",
        databaseURL: "https://saeris-7a947.firebaseio.com"
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
