@import "../../../../sass/utils/include-media";

@mixin styles(
  $nav-width,
  $avatar-size,
  $hidden,
  $landscape,
  $phone
) {
  #main-nav {
    flex: 1 0 auto;
    font-family: "Open Sans", sans-serif;

    .drawer {
      transition: width .25s ease-in-out;
      @if ($phone) {
        width: $nav-width;
      } @else {
        width: 0;
      }

      &.open {
        @if ($phone) {
          width: 0;
        } @else {
          width: $nav-width;
        }
        .nav-wrapper {
          @if ($phone) {
            left: calc(#{$nav-width} * -1);
          } @else {
            left: 0;
          }
        }
      }
    }

    .nav-wrapper {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      @if ($phone) {
        left: 0;
      } @else {
        left: calc(#{$nav-width} * -1);
      }
      width: $nav-width;
      height: 100%;
      height: 100vh;
      background: linear-gradient(to left,  rgba(17,26,35,0.25) 0%,rgba(69,72,77,0.25) 100%);
      backdrop-filter: blur(5px);
      transition: left .25s ease-in-out;
    }

    #about {
      color: #ebebeb;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 0.75rem;
      margin-bottom: 1.5rem;

      button {
        background: none;
        border: none;
        padding: 0;
        margin-bottom: 0.5rem;

        img {
          width: $avatar-size;
          height: $avatar-size;
          border-radius: $avatar-size;
          transition: border-radius 0.2s ease-in-out;
        }

        &:hover {
          cursor: pointer;

          img {
            border-radius: calc(#{$avatar-size} / 4);
          }
        }

        &:focus {
          outline: none;
        }
      }

      h1 {
        @if $hidden {
          display: none;
        }
        font-size: 1.6rem;
        margin: 1rem 0 0.5rem;
      }

      h2 {
        @if $hidden {
          display: none;
        }
        font-size: 1.2rem;
        font-weight: lighter;
        margin: 0 0 0.5rem;
      }
    }

    .nav-links {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      padding: 0;
      margin: 0 0 2rem;

      li {
        flex: 0 0 auto;
        width: 100%;
        height: 4rem;
        line-height: 4rem;

        a {
          @if $hidden {
            text-align: center;
            padding-left: 0;
          } @else {
            text-align: left;
            padding-left: 2.3rem;
          }
          display: block;
          color: #ebebeb;
          width: auto;
          height: 100%;
          padding-top: 0;

          i {
            @if $hidden {
              margin-right: 0;
            } @else {
              margin-right: 1.5rem;
            }
            font-size: 2rem;
            display: inline-block;
            text-align: center;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            padding-top: 0;
            vertical-align: middle;
          }

          span {
            @if $hidden {
              display: none;
            } @else {
              display: inline-block;
            }
            width: auto;
            height: 3.5rem;
            line-height: 3.5rem;
            font-size: 1.5rem;
            letter-spacing: 0.3rem;
            vertical-align: middle;
          }

          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }

        &.active a, &.active a:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    #socialnav {
      margin-top: auto;
      margin-bottom: 4rem;
    }
  }
}

@include media('<=phone') {
  $values: (
    nav-width: 25rem,
    avatar-size: 10rem,
    hidden: false,
    landscape: false,
    phone: true
  );

  @include styles($values...);
}

@include media('>=phone', '<=tablet') {
  $values: (
    nav-width: 25rem,
    avatar-size: 10rem,
    hidden: false,
    landscape: false,
    phone: true
  );

  @include styles($values...);
}

@include media('>=tablet', '<=desktop', 'landscape', 'retina2x') {
  $values: (
    nav-width: 25rem,
    avatar-size: 10rem,
    hidden: false,
    landscape: true,
    phone: true
  );

  @include styles($values...);
}

@include media('>=tablet', '<desktop', 'retina2x') {
  $values: (
    nav-width: 7.5rem,
    avatar-size: 3rem,
    hidden: true,
    landscape: false,
    phone: false
  );

  @include styles($values...);
}

@include media('>=desktop') {
  $values: (
    nav-width: 25rem,
    avatar-size: 10rem,
    hidden: false,
    landscape: false,
    phone: false
  );

  @include styles($values...);
}
