<template>
  <aside id="about" ref="about">
    <section>
      <button click.delegate="toggleAbout($event)"><i class="fa fa-remove"></i></button>
      <img show.bind="profile.picture" src.bind="profile.picture" alt="Author's Picture">
      <h1 if.bind="profile.name">${profile.name}</h1>
      <h2 if.bind="profile.title"><i class="fa fa-briefcase"></i>${profile.job}</h2>
      <h2 if.bind="profile.location"><i class="fa fa-map-marker"></i>${profile.location}</h2>
      <p if.bind="profile.bio">${profile.bio}</p>
    </section>
  </aside>

  <nav id="main-nav" ref="nav">
    <section class="nav-wrapper">
      <div id="profile">
        <button click.delegate="toggleAbout($event)" title="About Me">
          <img show.bind="profile.picture" src.bind="profile.picture" alt="Author's Picture">
        </button>
        <h1 if.bind="profile.name">${profile.name}</h1>
        <h2 if.bind="profile.location">${profile.location}</h2>
      </div>

    <ul class="nav-links">
      <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
        <a href.bind="route.href">
          <i class="fa fa-${route.settings.icon}" aria-hidden="true"></i>
          <span>${route.title}</span>
        </a>
      </li>
    </ul>

    <ul class="nav-links">
      <li repeat.for="profile of socialMedia">
        <a href.bind="profile.href">
          <i class="fa fa-${profile.settings.icon}" aria-hidden="true"></i>
          <span>${profile.title}</span>
        </a>
      </li>
    </ul>
  </nav>
</template>
