.masonry {
	$size: 20rem;
	flex: 1 0 auto;
	width: 100%;
	max-width: calc(#{$size} * 6);
	position: relative;

	.box {
		display: flex;
		position: absolute;
		width: $size;
		height: $size;
		color: inherit;
		text-decoration: none;
		padding: 0.5rem;
		overflow: hidden;
		transition: 0.2s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}

		&.size12 {
			height: calc(#{$size} * 2);
		}

		&.size13 {
			height: calc(#{$size} * 3);
		}

		&.size21 {
			width: calc(#{$size} * 2);
		}

		&.size22 {
			width: calc(#{$size} * 2);
			height: calc(#{$size} * 2);
		}

		&.size23 {
			width: calc(#{$size} * 2);
			height: calc(#{$size} * 3);
		}

		&.size31 {
			width: calc(#{$size} * 3);
		}

		&.size32 {
			width: calc(#{$size} * 3);
			height: calc(#{$size} * 2);
		}

		&.size33 {
			width: calc(#{$size} * 3);
			height: calc(#{$size} * 3);
		}
	}
}
