@import "../../../../sass/utils/include-media";

@mixin styles($avatar-size, $phone) {
  #profile {
    position: fixed;
    background-image: url("../../../../img/bg.jpg");
    background-position: center -5em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: opacity 5s ease-in-out;
    overflow: hidden;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background: #fff;
      @if $phone {
        max-width: 29rem;
      } @else {
        max-width: 37.5rem;
      }
      margin: calc(3rem + (#{$avatar-size} / 2)) auto 1.5rem auto;
      border-radius: 0.3rem;
      padding: calc(3rem + (#{$avatar-size} / 2)) 0 3rem 0;
      box-shadow: 0 0 0.5rem rgba(0,0,0,.5);

      button {
        position: absolute;
        flex: 0 0 auto;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        color: #9eabb3;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        z-index: 5;

        span {
          display: flex;
          justify-content: center;
          align-content: center;
        }

        &:hover {
          color: #0c0c0c;
        }

        &:focus {
          outline: none;
        }
      }

      .avatar-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: calc((#{$avatar-size} / 2) * -1);
        width: 100%;
        height: $avatar-size;
        z-index: 4;

        img {
          flex: 0 0 auto;
          width: $avatar-size;
          height: $avatar-size;
          border-radius: $avatar-size;
          border: calc(#{$avatar-size} / 22.5) solid #fff;
          box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
        }
      }

      h1 {
        flex: 0 0 auto;
        font-size: 2.2rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
      }

      h2 {
        flex: 0 0 auto;
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 1rem;

        i {
          margin-right: 0.5rem;
        }
      }

      p {
        flex: 1 1 auto;
        text-align: center;
        padding: 0 3rem;
        margin-bottom: 3rem;
      }

      ul {
        @if $phone {
          display: flex;
        } @else {
          display: none;
        }
        justify-content: space-around;
        width: 100%;
        height: 3rem;
        padding: 0 3rem;

        li {
          display: flex;
          flex: 0 0 auto;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;

          a {
            display: block;
            color: #373a3c;
            width: 100%;
            height: 100%;
            padding-top: 0;

            i {
              font-size: 3rem;
              display: inline-block;
              text-align: center;
              width: 3rem;
              height: 3rem;
              line-height: 3rem;
              padding-top: 0;
              vertical-align: middle;
            }

            &:hover {
              text-decoration: none;
                color: #0c0c0c;
            }
          }
        }
      }
    }
  }
}

@include media('<=phone') {
  $values: (
    avatar-size: 18rem,
    phone: true
  );

  @include styles($values...);
}

@include media('>=phone', '<=tablet') {
  $values: (
    avatar-size: 18rem,
    phone: true
  );

  @include styles($values...);
}

@include media('>=tablet', '<=desktop', 'landscape', 'retina2x') {
  $values: (
    avatar-size: 18rem,
    phone: false
  );

  @include styles($values...);
}

@include media('>=tablet', '<desktop', 'retina2x') {
  $values: (
    avatar-size: 18rem,
    phone: false
  );

  @include styles($values...);
}

@include media('>=desktop') {
  $values: (
    avatar-size: 18rem,
    phone: false
  );

  @include styles($values...);
}
